// Content colors 

$contentBackground: #f6f6f6;
$contentDate: #8a8995;


// Issues colors 

$contentIssueText: #080606;
$contentLIssueShapeActive: #21233d;
$contentIssueBackground: white;
$contentIssueBorder: #e0e0e0;


//Sidebar colors 

$sidebarBackground: rgba(16,16,34,0.94); 
$sidebarItemFont: white;
$sidebarItemHover: #292a48;


// Title bar buttons (names assigned in the AppleScript accessibility API)

$closeButton: #00cd46;
$minimizeButton: #ffbc1b;
$zoomButton: #ff594f;
$windowManager: #101022;