@media screen and (max-width: 600px) {
    .root{
        height: auto;
        min-height: 100vh;
    }

    .appWindow {
        flex-direction: column;

        &__content {
            width: 100%;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 10px;
            padding-right: 11px;
        }
    }

    .sideBar {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;

    .titleBar {
        border-top-right-radius: 10px;
    }
        &__menu {
            width: auto;
        }
    }

    .issue__icon:hover {
        transform: none;
    }
}