.issuesGroup {
   
    &__date {
        font-size: 12px;
        letter-spacing: 0.075px;
        color: #8a8995;
        padding-top: 1px;
        padding-bottom: 2px;
    }
}

.issue {
    width: 100%;
    min-height: 40px;
    background-color: $contentIssueBackground;
    border-radius: 5px;
    border: 1px solid $contentIssueBorder;
    display: flex;
    justify-content: space-between;
    padding: 9px 12px;
    margin: 5px 0;
    color: $contentIssueText;

    &__icon {
        width: 17px;
        height: 16px;
        fill: white;
        stroke: $contentIssueBorder;
        stroke-width: 1px;
        stroke-linejoin: round;

        &:active {
            color: $contentLIssueShapeActive;
            -webkit-text-stroke-width: 0;
            -webkit-text-stroke-color: transparent;
        }
    }

    &__text {
        font-size: 15px;

        letter-spacing: 0.075px; // photoshop letter spacing (px) * font-size (px) / 1000 
        padding-right: 20px;
    }

    &__iconContainer{
        padding-top: 2px;
        width: 17px;
        height: 17px;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }

        svg {
            padding-left: 2px;
            padding-top: 1px;
        }
    }
}

.active-issue-icon {
    fill: $contentLIssueShapeActive;
    stroke: $contentLIssueShapeActive;
}