.sidebar__filter-items {
    width: 100%; 
}

.filter-item {
    display: flex;
    width: 100%;
    padding: 16px;

    &__name {
        padding: 0 10px;
        font-size: 14px;
        letter-spacing: 0.70px;
    }

    &__counter{
        font-size: 14px;
        letter-spacing: 0.75px;
       	-webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #8a8995;
        position: relative;
    }

     &:hover {
         -webkit-box-shadow:inset 0px 0px 0px 2px $sidebarItemHover;
         -moz-box-shadow:inset 0px 0px 0px 2px $sidebarItemHover;
         box-shadow:inset 0px 0px 0px 2px $sidebarItemHover;
    }

     &:active {
        background-color: $sidebarItemHover;
        opacity: 1;
    }
}

.justify-end {
  margin-left: auto;
}

.active-item {
    background-color: $sidebarItemHover;
    opacity: 1;
}