.titleBar {
    width: 100%;
    height: auto;
    background-color: $windowManager;
    border-top-left-radius: 10px;
    opacity: 1;
    list-style: none;
    display: flex;
    padding: 16px;

    &__button {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        margin-right: 10px;
    }
}

.closeButton {
    background-color: $closeButton;
}

.minimizeButton {
     background-color: $minimizeButton;
}

.zoomButton {
     background-color: $zoomButton;
}